==================
Main Styles
==================
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
	font-family: 'Rokkitt', serif;
}

html {
	padding-top: 0;
}

body {
	min-height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: rgb(54, 72, 106);
}

h1, h2, p {
	color: black;
}

h1 {
	margin-top: 0;
}

.nav-container {
	margin-top: 0;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
	border-bottom: 2px solid rgb(34, 52, 86);
}

.nav-container ul {
	padding: 0;
	display: flex;
  	justify-content: center;
}

.nav-container li {
	display: inline-block;
	font-size: 1.2em;
	letter-spacing: .9em; 
	font-weight: 900;
	padding: 20px 20px 15px;
}

.nav-container a{
	color: rgb(34, 52, 86);
	text-decoration: none;
}

.bg-img {
	background: url(images/background.jpg) no-repeat center center;
	background-size: cover;
	top: 0;
	min-width: 960px;
	min-height: 641px;
	width: auto;
	height: 100%;
	padding-bottom: 20%;
}

.typewriter {
	background-color: rgb(34, 52, 86);
	height: 35%;
	width: 25%;
	position: absolute;
	bottom: 5%;
	left: 38%;
}

.animation1, 
.animation2 {
	font-family: 'Courier New', serif;
	font-size: 3em;
	text-align: center;
	color: rgb(197, 182, 114);
}

.secondary {
	width: 100%;
	background-color: rgb(34, 52, 86);
}

.change-bg-colour {
	background-color: rgb(34, 52, 86);
}

.change-bg-colour a {
	color: rgb(197, 182, 114);
}

.language-blurb-container {
	display: flex;
	justify-content: space-around;
	background-color: rgb(34, 52, 86);
}

.language-blurb {
	padding: 5px; 
	margin-top: 30px;
	background-color: rgb(197, 182, 114);
}

.icon-size {
	font-size: 5em;
	color: rgb(5, 17, 39);
}