* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

html {
	padding-top: 0;
}

body {
	min-height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: rgb(256, 256, 256);
}

h1, h2, p {
	color: black;
}

h1 {
	margin-top: 0;
}

nav.navbar {
	padding: 0;
}

.nav-container {
	margin-top: 0;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 3;
	padding-bottom: 6px;
	background-color: rgb(256, 256, 256);
	border-bottom: 2px solid rgb(34, 52, 86);
}

input#menu-button {
	display: none;
}

label {
	display: none;
	font-size: 20px;
	letter-spacing: .9vw; 
	font-weight: 900;
	color: rgb(34, 52, 86);
}

.nav-container li {
	display: inline-block;
	padding: 1vw 1vw .5vw;
}

.nav-container button {
	font-size: 1.4vw;
	letter-spacing: .9vw; 
	font-weight: 900;
	color: rgb(34, 52, 86);
	text-decoration: none;
}

.nav-container button:focus {
	outline: none;
} 

.bg-img {
	position: relative;
	width: auto;
	height: 100%;
}

.bg-img img {
	max-width: 100%;
	max-height: 100%;
}

.glow {
	position: absolute;
	height: 75%;
	width: 61%;
	bottom: 14%;
	left: 19%;
	z-index: 1;
}

.glow-off {
	background: radial-gradient(rgba(180, 204, 207, .3), transparent 60%);
}

.typewriter {
	background-color: rgb(27, 43, 52);
	position: absolute;
	height: 66%;
	width: 71.4%;
	bottom: 18.2%;
	left: 14%;
	z-index: 2;
}

.animation1 {
	font-family: "Consolas", sans-serif;
	font-size: 2vw;
	white-space: pre;
	color: rgb(256, 256, 256);
}

.red {
	color: rgb(96, 179, 179);
}

.blue {
	color: rgb(234, 96, 107);
}

.projects-container {
	width: 100%;
	padding: 30px;
	background-color: rgb(256, 256, 256);
}

.language-blurb-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 15px;
	background-color: rgb(256, 256, 256);
}

.language-blurb {
	padding: 5px; 
	background-color: rgb(230, 235, 240);
	width: 400px;
	height: auto;
	margin: 15px 0;
	border-radius: 25px;
}

.icon-size {
	font-size: 7vw;
	float: left;
}

.devicon-html5-plain-wordmark {
	color: firebrick;
}

.devicon-css3-plain-wordmark {
	color: blue;
}

.devicon-javascript-plain {
	color: rgb(119, 220, 40);
	padding-right: 8px;
}

.carousel-item img {
	width: 100%;
}

.carousel-item p {
	color: white;
}

.text-background {
	display: inline-block;
	padding: 10px;
	background-color: rgba(30, 30, 30, .7);
	border-radius: 20px;
}

.carousel-inner {
	border-radius: 55px;
	overflow: hidden;
}

@media screen and (max-width: 960px) {
	.nav-container {
		position: absolute;
		background-color: rgb(256, 256, 256);
		border-color: rgb(230, 235, 240);
		color: rgba(87, 103, 119, .6);
		box-shadow: 1px 2px 1px 1px;
		text-align: center;
	}

	.nav-container button {
		font-size: 20px;
	}

	.justify-content-center {
		display: flex;
		flex-direction: column;	
		max-height: 0;
	    overflow: hidden;
	}
    
	label {
		display: block;
		padding-top: 15px;
	}
	
	input:checked ~ .justify-content-center {
		position: static;
	    max-height: 100%;
	}

	.justify-content-center button {
		margin: 5px, auto;
		width: 100%;
		text-align: center;
	}

	.bg-img {
		width: 150%;
		height: auto;
		margin-left: -23%;
	}

	.language-blurb-container {
		position: relative;
		top: 20px;
	}

	.language-blurb {
		width: 70%;
	}

	#projects {
		position: relative;
		top: 20px;
	}
}